<tr>
  <td><strong>{{ .contest.name }}</strong></td>
  <td>{{ .contest.date }}</td>
  <td class="archive-link">
    {{if .links.website }}
    <a href="{{.links.website}}" target="_blank">
      <span class="material-symbols-outlined icon" title="Website">
        link
      </span>
    </a>
    {{end}}
  </td>
  <td class="archive-link">
    {{if .resources.problems}}
    <a href="/archive/{{.contest.year}}/{{.contest.type}}/{{.resources.problems}}" target="_blank">
      <span class="material-symbols-outlined icon" title="Problem Set">
        description
      </span>
    </a>
    {{end}}
  </td>
  <td class="archive-link">
    {{if .resources.slides}}
    <a href="/archive/{{.contest.year}}/{{.contest.type}}/{{.resources.slides}}" target="_blank">
      <span class="material-symbols-outlined icon" title="Presentation">
        co_present
      </span>
    </a>
    {{end}}
  </td>
  <td class="archive-link">
    {{if .resources.data}}
    <a href="/archive/{{.contest.year}}/{{.contest.type}}/{{.resources.data}}">
      <span class="material-symbols-outlined icon" title="All Data and Solutions">
        folder_zip
      </span>
    </a>
    {{end}}
  </td>
  <td class="archive-link">
    <div class="flex">
      {{if .links.result}}
      <a href="{{.links.result}}" target="_blank">
        <span class="material-symbols-outlined icon" title="Scoreboard">
          scoreboard
        </span>
      </a>
      {{end}}
      {{if .links.scoreboards}}
      <div onmouseleave="this.children[1].style.display='none'" class="relative">
        <span class="material-symbols-outlined icon" title="More" style="cursor:pointer"
              onmouseenter="this.nextElementSibling.style.display='block'">
          arrow_drop_down
        </span>
        <div class="absolute bg-white pa2 ba br3" style="display:none;top:1.5rem;right:0">
          {{range $k, $v := .links.scoreboards}}
          <a href="{{$v}}" target="_blank">{{$k}}</a><br />
          {{end}}
        </div>
      </div>
      {{end}}
    </div>
  </td>
  <td class="archive-link">
    {{if .links.photos}}
    <a href="{{.links.photos}}" target="_blank">
      <span class="material-symbols-outlined icon" title="Photos">
        photo_library
      </span>
    </a>
    {{end}}
  </td>
</tr>

