.archive {
    width: 100%;
}

.archive > * {
    font-size: 16px;
}

.icon {
    vertical-align: middle;
}

.archive-link {
    padding: 0 0.75rem;
    text-align: center;
    width: 0;
    white-space: nowrap;
}

.archive th {
    text-align: left;
    color: #000;
}
